{% include '../page/header2.twig' %}	


<!-- Default form subscription -->
<div class="inscription-forme">
<form method="post" class="text-center green border border-light p-5">

    <p class="h4 mb-4">Subscribe</p>

    <p>Connecter-Vous pour acceder à votre site.</p>

    
    <label for="email" class="h5">email :</label>
    <input type="email" name="emails" id="email" class="form-control mb-4" placeholder="email">

    <label for="password" class="h5">password</label>
    <input type="password" name="passwords" id="password" class="form-control mb-4" placeholder="password">

    
    <button class="btn btn-info btn-block" type="submit">connection</button>


</form>
</div>





{% include '../page/footer.twig' %}	