<footer class="page-footeront-small  pt-4ooter-lien ">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">a propos de nous</h5>
          <p>K-friuit est votre nouvelle plateforme de livraison de toutes sortes partout à
            domicile, au travail ... A partir de de votre commande sur notre site web ou l'application mobile et nous nous chargerons de vous livrer en moins de 24 heures ! 
          </p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Nos differentes modes de commandes</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#">La commande en details</a>
              </li>
              <li>
                <a href="#">La commande en demi-gros</a>
              </li>
              <li>
                <a href="#">la commande en gros</a>
              </li>
              <li>
                <a href="#">Autres</a>
              </li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">contactez-Nous</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#"><img src="">facebook</a>
              </li>
              <li>
                <a href="#"><img src="">tweeter</a>
              </li>
              <li>
                <a href="#"><img src="">gitub</a>
              </li>
              <li>
                <a href="#"><img src="">youtube</a>
              </li>
            </ul>

          </div>
          
      </div>
    </div>
    <div class="footer-copyright text-center py-3 black">© 2019 Copyright: tout droit reservé
      <p>Mois Javascript || projet de fin de mois || Ecole NaN </p>
      <a href="https://web.facebook.com/">KEITA NaNien 2.19</a>
    </div>
    

  </footer>