<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>K-Food</title>
	<link rel="stylesheet" type="text/css" href="../dossier/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../dossier/css/mdb.min.css">
	<link rel="stylesheet" type="text/css" href="../dossier/css/main.css">
	<link rel="stylesheet" type="text/css" href="../dossier/css/style.css">

</head>
<body>
	<div class="container-fluid">
		<header class="mon-header">
				
				
					<!-- MA BAR DE NAVIGATION AVEC LE LIEN DE MES ONGLET  -->
			<div class="menu-header-1" >

		<!--Navbar -->
			<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
				
				  <a class="navbar-brand" href="#">accueil</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
				    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">menu
				          <span class="sr-only">(current)</span>
				        </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">contact</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/page/inscription.html">incription</a>
				      </li>
				    </ul>
				    <ul class="navbar-nav ml-auto nav-flex-icons">
				       	<li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
					          aria-expanded="false">
					          <i class="fasa-user"></i>
					        </a>
					        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
					          <a class="dropdown-item" href="#">Action</a>
					          <a class="dropdown-item" href="#">Another action</a>
					          <a class="dropdown-item" href="#">Something else here</a>
					        </div>
	    				</li>
				    </ul>
				  </div>
				
			</nav>
	<!--/.Navbar -->
			<div class="conteneur-logo">
				<h1>le monde<span> des fruits</span></h1>
			</div><br><br><br>
			
				<div class="descrption">

					<center>
						<h2>la plateforme de reference pour l'achat de toutes sortes de fruits</h2>
					<p>
						Faites le plein de vos paniers a travers notre stock deruits a partire de 2.5  € <br>
						Passer votre commande depuis n'importe où et vous serez livré en moins de 24 heures !
					</p>
					</center>

				</div>
			
		</header>		
		<div class="tres"></div>
		<div class="section1">
			<div class="presentation">	
				<center>
				<h3>les meilleurs produits</h3>
				<p class="p-nouveau">
					Essayez les nouveaux plats délicieux de nos chef.ces recette vienne tous droit des maitre chocolatier ivoirien .
				</p>
				</center>
			</div>
			<div class="tres"></div>
			<div class="nouveau-plat">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/ananaC2.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Ananas au goût irrésistible</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>

							
						
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/fraiseC.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Les fraises à vous couper le souffle</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commande</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>
						
							
						
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/prouge.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Les pommes rouges de Venisse</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/pomme.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Toute famille de pomme</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/banane.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>les impécables bananes douces made in Côte d'Ivoire</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/orang2.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Toutes variété d'orange</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/pomc.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>les pommes incroyables</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/mange.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>Les superbes mangues venues du Nord</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 ">
						<div class="article">
							<div class="image-plat">
							<img src="../dossier/images/rezin.jpg" class="img-thumbnail">
						</div>
						<center>
							<div class="info-plat">
								<div class="row">
									<div class="col-sm-6">
										<h5><strong> prix :<span>2.5 €</span></strong></h5>
										<p>les fruits pour une meilleure alimentation</p>
									</div>
									<div class="col-sm-6">
										<button class="bnt btn-success">commander</button>
									</div>
									
								</div>
							</div>
						</center>

						</div>		
					</div>

				</div>
				
			</div>
		</div>

	</div>	
		<footer class="page-footeront-small  pt-4ooter-lien ">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">a propos de nous</h5>
          <p>K-friuit est votre nouvelle plateforme de livraison de toutes sortes partout à
          	domicile, au travail ... A partir de de votre commande sur notre site web ou l'application mobile et nous nous chargerons de vous livrer en moins de 24 heures ! 
          </p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Nos differentes modes de commandes</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#">La commande en details</a>
              </li>
              <li>
                <a href="#">La commande en demi-gros</a>
              </li>
              <li>
                <a href="#">la commande en gros</a>
              </li>
              <li>
                <a href="#">Autres</a>
              </li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">contactez-Nous</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#"><img src="">facebook</a>
              </li>
              <li>
                <a href="#"><img src="">tweeter</a>
              </li>
              <li>
                <a href="#"><img src="">gitub</a>
              </li>
              <li>
                <a href="#"><img src="">youtube</a>
              </li>
            </ul>

          </div>
          
      </div>
    </div>
    <div class="footer-copyright text-center py-3 black">© 2019 Copyright: tout droit reservé
    	<p>Mois Javascript || projet de fin de mois || Ecole NaN </p>
      <a href="https://web.facebook.com/">KEITA NaNien 2.19</a>
    </div>
    

  </footer>
  





<script src="../dossier/js/jquery-3.3.1.min.js"></script>

<script src="../dossier/js/popper.min.js"></script>
<script src="../dossier/js/bootstrap.min.js"></script>
<script src="../dossier/js/mdb.min.js"></script>
<script src="../dossier/js/main.js"></script>
<script src="../dossier/js/script.js"></script>

</body>
</html>